<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAk4Vd9dLaZIM8w4Ql_CDKsk7KIYfiHVWw</string>
	<key>GCM_SENDER_ID</key>
	<string>211481900673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edus.edustutor</string>
	<key>PROJECT_ID</key>
	<string>edus-tutor</string>
	<key>STORAGE_BUCKET</key>
	<string>edus-tutor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211481900673:ios:30cc2f9e9c9ee84c3fbf80</string>
</dict>
</plist>